body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

h1 {
    color: #333;
}

.player-names {
    margin-top: 20px;
}

.hide {
    display: none;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 16px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056aa;
}

.game-board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, 40px); /* Adjust the number of columns */
    grid-gap: 2px;
}

/* Add CSS for individual cells (grid items) to represent the game board */
table {
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

#question-mark-icon svg {
    width: 40px; /* Adjust the size of the icon */
    height: 40px;
    fill: #333; /* Icon color */
    position: absolute;
    top: 40px; /* Adjust the distance from the top edge */
    right: 40px; /* Adjust the distance from the right edge */
}

.sideBar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 93vh;
    justify-content: space-between;
    margin: 15px;
    gap: 15px;
}

.sideBar div {
    border: 2px solid black;
    padding: 3px;
}